<%= link_to motel_path(motel) do %>
  <div class="col-md-4 home-form ">
    <% if motel.images? %>
      <%= image_tag motel.images[0].url %>
    <% else %>
      <%= image_tag "default-hotel" %>
    <% end %>
    <h1><%= motel.name %> <%= motel.level %>✩  </h1>
    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= motel.address %></p>
  </div>
<% end %>
